[Desktop Entry]
Encoding=UTF-8
Name=Link to .zip (431.77 kb)
Type=Link
URL=https://www.kaggle.com/c/walmart-recruiting-sales-in-stormy-weather/download/weather.csv.zip
Icon=text-html
